<ion-header>
	<ion-navbar>
		<ion-title *ngIf="session">{{session.name}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="loadmap(session)">
				<ion-icon ios="ios-map" md="md-map"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>
<ion-content padding>
	<div *ngIf="session">
		<h1>{{session.name}}</h1>
		<div id="segunda-sexta" class="row">
			<div class="col">
				<ion-list>
					<div *ngFor="let dia of session?.util">
						<ion-item *ngIf="dia< '12:00'"> {{dia}}</ion-item>
					</div>

				</ion-list>
			</div>
			<div class="col">
				<ion-list>
					<div *ngFor="let dia of session?.util">
						<ion-item *ngIf="dia <= '18:00' && dia>='12:00'"> {{dia}}</ion-item>
					</div>
				</ion-list>
			</div>
			<div class="col">
				<ion-list>
					<div *ngFor="let dia of session?.util">
						<ion-item *ngIf="dia >'18:00'"> {{dia}}</ion-item>
					</div>
				</ion-list>
			</div>
		</div>
	</div>
	<div *ngIf="pontos.length>0">
		<h1>Caminho por onde a rota passa</h1>
		<ion-list>
			<div *ngFor="let ponto of pontos">
				<ion-item> {{ponto.nome}}</ion-item>
			</div>
		</ion-list>
	</div>


</ion-content>