<ion-header>
  <ion-navbar>
    <ion-title *ngIf="session">{{session.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="session">
    <h1>{{session.name}}</h1>
    <div id="segunda-sexta" class="row">
			
			<div class="col">
				<ion-list >
					<div *ngFor="let dia of session?.ida">
						<ion-item *ngIf="dia< '12:00'" > {{dia}}</ion-item>
					</div>

				</ion-list>
			</div>
			<div class="col">
				<ion-list >
					<div *ngFor="let dia of session?.ida">
						<ion-item *ngIf="dia <= '18:00' && dia>='12:00'" > {{dia}}</ion-item>
					</div>
				</ion-list>
			</div>
			<div class="col">
				<ion-list >
					<div *ngFor="let dia of session?.ida">
						<ion-item *ngIf="dia >'18:00'" > {{dia}}</ion-item>
					</div>
				</ion-list>
			</div>
		</div>
  </div>
</ion-content>